<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>NodeView.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>186495551E65A5C700CE3E3B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1864956C1E65A5C800CE3E3B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>186495771E65A5C800CE3E3B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
